body
{
	width: 650px;
	margin: auto;
	font-size: 112.5%;
	line-height: 160%;
	color: #383838;
}

h1
{
	padding-top: 22px;
	margin-bottom: 30px;
}

h2
{
	line-height: 120%;
	margin-top: 25px;
}

h4
{
	margin: 0;
}

span
{
	font-family: "Courier New";
	font-weight: bolder;
}

.citation
{
	padding-left: 50px;
	padding-bottom: 20px;
	border-bottom: 1px solid #383838;
}